@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700;800&family=Ubuntu:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.navTop {
  font-size: 12px;
}
.top {
  color: #000000;
}
.top:hover {
  color: #e31e52;
}
.logo {
  font-size: 30px;
  font-weight: 800;
  font-family: "JetBrains Mono", monospace;
}
.navBottom {
  height: 50px;
}
.bottom {
  padding-top: 5px;
}
.navBottomColor {
  color: #000000;
}
.navBottomColor:hover {
  color: #e31e52;
}
.border {
  border-radius: 4px;
}
.listCategory {
  color: #000000;
  text-decoration: none;
}
.listCategory:hover {
  color: #393b3d;
}
.accordionText {
  text-align: justify;
  text-justify: inter-word;
}
.jumbotronText {
  font-weight: 400;
}

.footerImage {
    display: flex;
    justify-content: flex-end;
}